.mobile {
  padding-top: 30px;
  background-color: $three-color;
  img {
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
  .mobile-plus {
    i {
      font-size: 35px;
      vertical-align: -8px;
    }
    span {
      font-size: 15px;
      padding-left: 5px;
    }
  }
  .mobile-plus-parent-plus {
    margin-top: 50px;
  }
}
