.product {
  background-color: $three-color;
  div.product-box {
    padding: 20px 0;
  }

  .product-3box {
    i {
      transform: scale(1.6);
    }
    .card-body {
      padding: 30px;
    }
  }
  .product-sec2 img {
    max-width: 400px;
  }
}
