div.slide {
  background-image: url(../image/beleasing2-section-bg1.webp);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  h1 {
    max-width: 750px;
  }
  .container {
    height: 100vh;
  }
  .row-box {
    border-top: 1px solid white;
    padding-top: 20px;
  }
  div.col-3 > div {
    border: 1px solid #ffffff3d;
    padding: 30px;
    margin: 0px 30px 30px 30px ;
  }
}
